{{ if .device.battery.enabled }}
alias battery='cat /sys/class/power_supply/{{ .device.battery.name }}/capacity'
{{ end}}
alias shutdown='sudo systemctl poweroff'
alias screenshot='flameshot gui'
alias reload='source ~/.bashrc'
alias gc='google-chrome-stable'
