# Assignments
assign [class="^Google-chrome$"] 1
assign [class="^discord$"] 4
assign [class="^Spotify$"] 5

{{ if .multihead.enabled }}
# Assign workspaces to monitors
workspace 1 output {{ .multihead.primary.name }}
workspace 2 output {{ .multihead.secondary.name }}
workspace 4 output {{ .multihead.primary.name }}
workspace 5 output {{ .multihead.primary.name }}
{{- end }}
